<!-- <div class="row">
  <div class="col-12 col-xl-8">
    <div class="card card-body border-0 shadow mb-4">
      <h2 class="h5 mb-4" *ngIf="isAddMode">Nouveau Employe</h2>
      <h2 class="h5 mb-4" *ngIf="!isAddMode">Modifier Employe {{id}}</h2>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6 mb-3">
            <mat-label>Name</mat-label>
            <input  type="hidden" formControlName="id" class="form-control"   />
            <input class="form-control" type="text" formControlName="name" />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <button (click)="save()" class="btn btn-gray-800  animate-up-2" type="submit">sauvegarder</button>
            <button routerLink="/employee"  class="btn btn-gray-800 ml-2 animate-up-2" type="button">Annuler</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
 -->

<div class="p-4 flex flex-col w-[60%] bg-light shadow sm:overflow-hidden sm:rounded-md">

  <h1 class="h5 mb-4" *ngIf="isAddMode">Nouveau Employee</h1>
  <h1 class="h5 mb-4" *ngIf="!isAddMode">Modifier Employee {{id}}</h1>

  <form [formGroup]="form" class="w-[50%]">
    <div class="flex flex-col">
      <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" class="formControl" placeholder="Name" /></mat-form-field>
    </div>
    <div class="form-group flex flex-row-reverse gap-4">
      <button mat-raised-button routerLink="/employee" color="warn">Annuler</button>
      <button mat-raised-button color="primary" (click)="save()" >sauvegarder</button>
    </div>

  </form>
  </div>
