<section id="content">
<nav class="h-14 bg-light flex items-center sticky top-0 left-0">
  <i class="bx bx-menu cursor-pointer"></i>
  <a href="#" class="nav-link text-base">Categories</a>
  <form action="#">
    <div class="form-input flex items-center h-9">
      <input type="search" placeholder="Search...">
      <button type="submit" class="search-btn"><i class="bx bx-search"></i></button>
    </div>
  </form>
  <a href="#" class="notifications text-xl relative">
    <i class="bx bxs-bell"></i>
    <span class="num">8</span>
  </a>
  <a href="#" class="profile">
    <img src="../../assets/undraw_Female_avatar_efig.png"  alt="">
  </a>
</nav>
</section>
