
<div class="p-4 flex flex-col w-[60%] bg-light shadow sm:overflow-hidden sm:rounded-md">

<h1 class="h5 mb-4" *ngIf="isAddMode">Nouveau Client</h1>
<h1 class="h5 mb-4" *ngIf="!isAddMode">Modifier Client {{id}}</h1>

<form [formGroup]="customerForm" class="w-[50%]">
  <div class="flex flex-col">
    <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" class="formControl" placeholder="Name" /></mat-form-field>
  </div>
  <div class="form-group flex flex-row-reverse gap-4">
    <button mat-raised-button routerLink="/customer" color="warn">Annuler</button>
    <button mat-raised-button color="primary" (click)="save()" >sauvegarder</button>
  </div>

</form>
</div>

