

<h3 style="color:rgb(17, 50, 198); font-size: 30px; font-weight: bold; font-size: 35px; margin-bottom: 25px;">{{title}}</h3>
<div class="grid grid-col-2">
  <div class="col">
    <div class=" flex ">
    <div class="relative">
    <mat-form-field  style="border-radius: 20px;">
    <mat-label class="ml-8 mb-0 " style="font-size: 18px;">Recherche</mat-label>
    <input class="max-h-6 placeholder:italic" matInput placeholder="please enter a value" (input)="search($event)">
    </mat-form-field>
  </div>
  <div class="col">
    <div class="  flex ml-80 mb-0">
    <button routerLink="/create" class=" w-40 h-40 m-1 " mat-raised-button color="primary" (click)="toCreate()" style="border-radius: 15px ; border: 2px solid rgb(4, 37, 182);"><mat-icon>add</mat-icon>Nouveau</button>
    <button routerLink="/export" class="  w-40 h-14 m-1 " mat-raised-button color="primary" (click)="openPDF($event)" style="border-radius: 15px ; border: 2px solid rgb(4, 37, 182);" >Export</button>
  </div>
</div>
</div>
</div>
</div>
