<div class="p-4 flex flex-col w-[60%] bg-light shadow sm:overflow-hidden sm:rounded-md">
  <h1 class="h5 mb-4" *ngIf="isAddMode" style="color:rgb(17, 50, 198);">Nouveau Reclamation</h1>
  <h1 class="h5 mb-4" *ngIf="!isAddMode" style="color:rgb(17, 50, 198);">Modifier Reclamation {{editedId}}</h1>
  <form [formGroup]="form" class="w-[50%]">
    <div class="flex flex-rows-2">
      <div class="">
        <div class="row">
          <mat-label>Client</mat-label>
          <input type="text" class="form-control" formControlName="customer" [matAutocomplete]="autoC"/>
          <mat-autocomplete class="extended" matSelect #autoC="matAutocomplete" [displayWith]="displayFn" >
          <mat-option [value]="item" [ngValue]="item" *ngFor="let item of fileredCustomer | async">{{ item.name}}</mat-option>
          </mat-autocomplete>
        </div>
      <div>
        <mat-label>Employee</mat-label>
        <input type="text"  class="form-control ml-3" formControlName="employe" [matAutocomplete]="autoE"/>
        <mat-autocomplete #autoE="matAutocomplete" [displayWith]="displayEmp">
        <mat-option [value]="item" [ngValue]="item" *ngFor="let item of fileredEmployee|async">{{item.name}}</mat-option>
        </mat-autocomplete>
      </div>
      </div>

      <div class="row">
        <div>
          <mat-label>Status</mat-label>
          <input type="text" class="form-control" formControlName="status" [matAutocomplete]="autoS"/>
          <mat-autocomplete #autoS="matAutocomplete" [displayWith]="displaysta">
           <mat-option [value]="item" [ngValue]="item" *ngFor="let item of fileredStatus|async">{{item.name}}</mat-option>
          </mat-autocomplete>
        </div>
        <div>
          <mat-label>Produit</mat-label>
          <input type="text"  class="form-control ml-3" formControlName="product" [matAutocomplete]="autoP"/>
          <mat-autocomplete #autoP="matAutocomplete" [displayWith]="displaypro">
           <mat-option [value]="item" [ngValue]="item" *ngFor="let item of fileredProduct|async">{{item.name}}</mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <!-- <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" class="formControl" placeholder="Name" /></mat-form-field> -->
    </div>
    <div class=" w-full">
      <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput formControlName="content" rows="5" class="form-control w-16"></textarea>
      </mat-form-field>
      <!-- <mat-label>Content</mat-label>
      <textarea formControlName="content" rows="6" class="form-control w-16"></textarea> -->
    </div>
    <div class="form-group flex flex-row-reverse gap-4">
      <button mat-button routerLink="/complaint" color="primary"  style="border-radius: 15px ; border: 2px solid rgb(4, 37, 182); font-weight: bold;">Annuler</button>
      <button mat-raised-button color="primary" (click)="save()"  style="border-radius: 15px ; border: 2px solid rgb(4, 37, 182);">sauvegarder</button>
    </div>

  </form>
  </div>
